<div class="area-sobre">
    <div class="title">O PIZZA AMORE</div>
    <div class="sub-content">
      <span class="comentario">O Pizza Amore nasceu de uma paixão única por pizzas de verdadeira qualidade. Nosso segredo? A autêntica pizza artesanal italiana.</span>
    </div>
    <div class="sub-content">
      <span>
        Isso significa que não só utilizamos trigo importado diretamente da Itália, mas também adotamos um meticuloso processo de fermentação que pode durar de 12 a 72 horas.
      </span>
    </div>
    <div class="sub-content">
      <span class="comentario">Esse método, realizado em ambiente refrigerado e com temperatura cuidadosamente controlada, é o que torna nossa pizza excepcionalmente saborosa e leve, prometendo uma experiência gastronômica sem igual, repleta de aromas e sabores que surpreendem a cada mordida.</span>
    </div>
    <div class="sub-content">
      <span>
        E para garantir que cada pizza seja verdadeiramente especial, escolhemos apenas os ingredientes mais nobres. Na Pizza Amore, acreditamos que uma pizza tão única merece nada menos que a excelência.
      </span>
    </div>
    <div class="sub-content">
      <span class="title">Certificação Dani Branca</span>
    </div>
    <div class="image">
      <img src="/assets/images/certificado.png" alt="">
    </div>
</div>

