.navbar-area{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90px;
  background-color: #000;
  border-bottom: 1px solid rgb(216, 54, 54);

  .logo-area{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .buttom-area{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 50px;
    color: #fff;
  }

  .login-area{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    color: #fff;
  }
}

a{
  text-decoration: none;
  color: #fff;
  &:hover{
    text-decoration: underline;
  }
}

.buttons{
  display: flex;
  flex-direction: column;
  height: 80%;
  min-width: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 18px;

}

.container-navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  justify-content: flex-start;
  align-content: flex-start;
  flex: 1;
  margin-left: 15px;

  .navbar-logo-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: center;
      justify-content: center;
      align-content: center;

      a {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-self: center;
          justify-content: center;
          align-content: center;
          font-size: 18px;
          font-family: "Satisfy";
          font-weight: 700;
          color: rgb(255, 255, 255);
          letter-spacing: 2px;
          text-decoration: none;

          svg {
              display: flex;
              flex-direction: row;
              align-items: center;
              align-self: center;
              justify-content: center;
              align-content: center;
              width: 20px;
              height: 20px;
              margin-left: 2px;
              margin-right: 2px;
              fill: rgb(255, 0, 0);

              &:hover{
                  fill: rgb(170, 16, 93);
              }
          }
      }
  }

  .menu-toggle{
    display: none;
  }

  .menu-toggle-open{
    display: none;
  }
}


@media only screen and (max-width: 600px) {

  .navbar-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    background-color: #000;
    border-bottom: 1px solid rgb(216, 54, 54);
    overflow-x: hidden;

    .logo-area{
      display: flex;
      flex-direction: row;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
    }

    .buttom-area{
      display: flex;
      flex-direction: row;
      width: 60%;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
      gap: 50px;
      color: #fff;
      display: none;
    }

    .login-area{
      display: flex;
      flex-direction: row;
      width: 20%;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
      color: #fff;
    }
  }

  a{
    text-decoration: none;
    color: #fff;
    &:hover{
      text-decoration: underline;
    }
  }

  .buttons{
    display: flex;
    flex-direction: column;
    height: 80%;
    min-width: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 18px;

  }

  .container-navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 1;
    margin-left: 15px;

    .navbar-logo-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            font-size: 18px;
            font-family: "Satisfy";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 2px;
            text-decoration: none;

            svg {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                width: 20px;
                height: 20px;
                margin-left: 2px;
                margin-right: 2px;
                fill: rgb(255, 0, 0);

                &:hover{
                    fill: rgb(170, 16, 93);
                }
            }
        }
    }
  }

  .menu-toggle{
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .menu-toggle-open{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1px;
    right:-240px;
    width: 30%;
    height: 100px;
    z-index: 10;
    background-color: #000;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
  }

}


@media only screen and (max-width: 900px) {

  .navbar-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    background-color: #000;
    border-bottom: 1px solid rgb(216, 54, 54);
    overflow-x: hidden;

    .logo-area{
      display: flex;
      flex-direction: row;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
    }

    .buttom-area{
      display: flex;
      flex-direction: row;
      width: 60%;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
      gap: 50px;
      color: #fff;
      display: none;
    }

    .login-area{
      display: flex;
      flex-direction: row;
      width: 20%;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
      color: #fff;
    }
  }

  a{
    text-decoration: none;
    color: #fff;
    &:hover{
      text-decoration: underline;
    }
  }

  .buttons{
    display: flex;
    flex-direction: column;
    height: 80%;
    min-width: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 18px;

  }

  .container-navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 1;
    margin-left: 15px;

    .navbar-logo-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            font-size: 18px;
            font-family: "Satisfy";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 2px;
            text-decoration: none;

            svg {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                width: 20px;
                height: 20px;
                margin-left: 2px;
                margin-right: 2px;
                fill: rgb(255, 0, 0);

                &:hover{
                    fill: rgb(170, 16, 93);
                }
            }
        }
    }
  }

  .menu-toggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    right: 30px;
  }

  .menu-toggle-open{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1px;
    right: -260px;
    width: 30%;
    height: 100px;
    z-index: 10;
    background-color: #000;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;

  }

}

@media only screen and (max-width: 1400px) {

  .menu-toggle{
  display: none;
  }

  .menu-toggle{
    display: none;
    }

}
